#othello {
    display: block;
    position: relative;
    padding-top: 50px;
    height: 550px;
    width: 100%;
}


.othelloSquare {
    border: 4px solid black;
    height: 48px;
    width: 48px;
    background-color: #21b15d;
}

.othelloBoard {
    position: relative;
    border-collapse: collapse;
    border: 4px solid black;
    margin: 0 auto;
    z-index: 100;
}

#gameTextContener {
    top: 20px;
    width: 100%;
    height: 600px;
    position: absolute;
    text-align: center;
}

#resetOthelloButton {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 600;
    width: 200px;
    height: 50px;
    left: 20px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
}

#startOthelloButton {
    position: relative;
    cursor: pointer;
    margin-top: 30px;
    z-index: 6000;
    width: 300px;
    height: 90px;
    border-radius: 10px;
    font-size: 45px;
    text-transform: uppercase;
    border: 1px solid #000;
    background-color: black;
    color:#fff;
}

.gameCoin {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 2px 0 0 3px;

}

/* GAME SCORRING */

.exchangeRateTable {
    visibility: hidden;
    width: 300px;
    padding: 10px 10px 10px 20px;
    background-color: rgb(27, 25, 25);
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    z-index: 20000;
    text-align: center;
}

.exchangeRateTableShow {
    visibility: visible;
}

.exchangeRateTable p {
    display: inline;
}
.pointsOfPlayerOne, .pointsOfPlayerTwo {
    visibility: hidden;
    position: absolute;
    width: 140px;
    padding: 20px;
    height: 50px;
    background-color: #f8f8f8;
    right: 80px;
    border-radius: 20px;
    z-index: 70;
}

#player1, #player2 {
    display: block;
    width: 110px;
    overflow: hidden;
}

.pointsOfPlayerOne {
    top: 80px;
}

.pointsOfPlayerTwo {
    top: 200px;
}

.playerIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.animateAreaScore {
    -webkit-animation: scoreEffect 1s linear infinite alternate; /* Chrome, Safari, Opera */
    animation: scoreEffect 1s linear infinite alternate;
}

@-webkit-keyframes scoreEffect {
    0% {

        border:5px solid red;
    }
    50% {

        border:5px solid black;
    }
    100% {
        border:5px solid red;
    }
}



/* BACKGROUND ANIMATIONS */
.skyAnimation {
    overflow: hidden;
    position: relative;
    width: 100%;
  background-color: #cccaca;
}


